header {
	background: #BBBBBB;
	padding: 20px 0;
}

.caixa {
	position: relative;
	width: 940px;
	margin: 0 auto;
}

nav {
	position: absolute;
	top: 110px;
	right: 0;
}

nav li {
	display: inline;
	margin: 0 0 0 15px;
}

nav a {
	text-transform: uppercase;
	color: #000000;
	font-weight: bold;
	font-size: 22px;
	text-decoration: none;
}

nav a:hover {  /*mouse está por cima do elemento e esse comportamento é o hover, é quando mouse está por cima do elemento. */
    color: #C78C19;
    text-decoration: underline; /*  eu quero que ele fique sublinhado, quando o mouse estiver por cima*/
}

.produtos {
	width: 940px; /* Largura*/
	margin: 0 auto;
	padding: 50px 0;
}

.produtos li {
	display: inline-block; /*Alinhar a lista uma ao lado da outra */
	text-align: center;   /* Alinhar o texto ao centro*/
	width: 30%;        		/*Cada um ocupa um espaço na tela */
	vertical-align: top;	/* Alinhamento das imagens por cima*/ 
	 /* Retirar depois de verificar o alinhamento*/ 
	margin: 0 1.5%;			/*Alinhamento da margin */ 
	padding: 30px 20px;		/*separandos os elementos */ 
	box-sizing: border-box; /*Utilizado para não somar todos os elementos e ficar grande */ 
	border: 2px solid #000000; 
	border-radius: 10px; 
}
.produtos li:hover {
    border-color: #C78C19;
}
.produtos li:active {/*Quando clicar a na lista ele pega um padrão*/
    border-color: #088C19;    
}
.produtos h2 {
	font-size: 30px; /* Tamanho do titulo e em negrito */
	font-weight: bold;
}
.produtos li:hover h2 { /* Aumentar o titulo quando passar o mouse*/
    font-size: 34px;
}

.produto-descricao { /* tamanho da fonte */
	font-size: 18px;
}

.produto-preco {     /* Modificação dos preços dos produtos*/
	font-size: 22px;
	font-weight: bold;
	margin: 10px 0 0; /*Declaração completa */ 
	margin-top: 10px;
}

footer {
    text-align: center;
    background: url("bg.jpg");
    padding: 40px 0;
}
.copyright {
    color: #FFFFFF;
    font-size: 13px;
    margin: 20px 0 0;
}

